In [1]:
from bs4 import BeautifulSoup
from selenium import webdriver
from splinter import Browser
import requests
import time
import pandas as pd
from pandas.io.html import read_html

In [2]:

executable_path = {'executable_path': 'chromedriver'}

options = webdriver.ChromeOptions()
options.add_argument("--diable-notifactions")

browser = Browser('chrome', **executable_path, headless=False, options = options)
nasa_url ='https://mars.nasa.gov/news/'
browser.visit(nasa_url)
time.sleep(1)

In [3]:
### 1. using beautifulsoup to scrape news title and teaser passage

soup = BeautifulSoup(browser.html, 'html.parser')
article = soup.find("div",{"class":'list_text'})
news_title = article.find("div", {"class":"content_title"}).text
news_p = article.find("div",{"class":"article_teaser_body"}).text

print(news_title)
print(news_p)

The Launch Is Approaching for NASA's Next Mars Rover, Perseverance
The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan.

In [4]:
nasa_news = {}
nasa_newsP = {}

nasa_news["featured_news"] = news_title
nasa_newsP["featured_teaser"] = news_p


nasa_news

{'featured_news': "The Launch Is Approaching for NASA's Next Mars Rover, Perseverance"}

In [5]:
### 2 mars image
jpl_url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)
time.sleep(1)

In [6]:
full_image = browser.find_by_id("full_image").first.click()

In [7]:
### 2.1 figured it is more intuitive for me to use splinter to scrape than beautifulsoup

nasa_image = {}

for link in browser.find_by_css('img[class="fancybox-image"]'):
    print(link['src'])

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16567_ip.jpg

In [8]:
nasa_image["featured_image"] = link['src']


nasa_image

{'featured_image': 'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16567_ip.jpg'}

In [9]:
### 2.1 downloading image

import shutil
response = requests.get(link['src'], stream=True)
local_file = open('mars_image.jpg', 'wb')
response.raw.decode_content = True
shutil.copyfileobj(response.raw, local_file)

In [10]:
### 3. mars weather tweet
browser.visit("https://twitter.com/marswxreport?lang=en")
time.sleep(1)

In [11]:
browser.find_by_css('div[class="css-1dbjc4n r-1awozwy r-18u37iz r-1wtj0ep"]').first.click()

In [12]:

target_tweet = browser.find_by_css('span[class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"]')[6].text
marsTemp_tweet_clean = target_tweet
marsTemp_tweet_clean = marsTemp_tweet_clean .replace('\n','')

print(marsTemp_tweet_clean)

InSight sol 554 (2020-06-17) low -92.4ºC (-134.3ºF) high -4.0ºC (24.9ºF)winds from the SW at 5.9 m/s (13.2 mph) gusting to 17.1 m/s (38.2 mph)pressure at 7.50 hPa

In [13]:
### 3.1 cleaning tweet

marsTemp_tweet = {}

marsTemp_tweet_clean = marsTemp_tweet_clean .replace('\n','')
marsTemp_tweet['featured_temp'] = marsTemp_tweet_clean

marsTemp_tweet

{'featured_temp': 'InSight sol 554 (2020-06-17) low -92.4ºC (-134.3ºF) high -4.0ºC (24.9ºF)winds from the SW at 5.9 m/s (13.2 mph) gusting to 17.1 m/s (38.2 mph)pressure at 7.50 hPa'}

In [14]:
###4. mars fact and pandas
browser.visit("https://space-facts.com/mars/")
time.sleep(1)

In [15]:
page = "https://space-facts.com/mars/"
marsTable = read_html(page, index_col=0, attrs={"id":"tablepress-p-mars"} )

print( "Extracted {num} table".format(num=len(marsTable)))

Extracted 1 table

In [16]:
marsTable_df = pd.DataFrame(marsTable[0])

marsTable_df

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [17]:
marsTable_to_html = marsTable_df.to_html(classes='marsTable_to_html')
marsTable_to_html

'<table border="1" class="dataframe marsTable_to_html">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>1</th>\n    </tr>\n    <tr>\n      <th>0</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [18]:
marsTable_to_html = marsTable_to_html.replace('<table border="1" class="dataframe marsTable_to_html">','')
marsTable_to_html = marsTable_to_html.replace('</table>','')
marsTable_to_html

'\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>1</th>\n    </tr>\n    <tr>\n      <th>0</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n'

In [19]:
marsTable_to_html = marsTable_to_html.replace('      <th></th>\n      <th>1</th>\n    </tr>\n    <tr>\n      <th>0</th>\n      <th></th>\n    </tr>\n  ', '')
marsTable_to_html

'\n  <thead>\n    <tr style="text-align: right;">\n</thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n'

In [25]:
###5. Mars Hemispheres
browser.visit("https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars")
time.sleep(1)

In [26]:
hemi_dict = []

In [27]:
browser.find_by_text('Cerberus Hemisphere Enhanced').click()
time.sleep(1)
for link in browser.find_by_text('Sample'):
    img_url = link['href']

hemi_name =  browser.find_by_css('h2').text
hemi_name = hemi_name.replace(' Enhanced','')
dictionary={"title":hemi_name,"img_url":img_url}
hemi_dict.append(dictionary)
browser.back()
time.sleep(1)

In [28]:
browser.find_by_text('Schiaparelli Hemisphere Enhanced').click()
time.sleep(1)
for link in browser.find_by_text('Sample'):
    img_url = link['href']
    
hemi_name =  browser.find_by_css('h2').text
hemi_name = hemi_name.replace(' Enhanced','')
dictionary={"title":hemi_name,"img_url":img_url}
hemi_dict.append(dictionary)
browser.back()
time.sleep(1)

In [29]:
browser.find_by_text('Syrtis Major Hemisphere Enhanced').click()
time.sleep(1)
for link in browser.find_by_text('Sample'):
    img_url = link['href']
    
hemi_name =  browser.find_by_css('h2').text
hemi_name = hemi_name.replace(' Enhanced','')
dictionary={"title":hemi_name,"img_url":img_url}
hemi_dict.append(dictionary)
browser.back()
time.sleep(1)

In [30]:
browser.find_by_text('Valles Marineris Hemisphere Enhanced').click()
time.sleep(1)
for link in browser.find_by_text('Sample'):
    img_url = link['href']
    
hemi_name =  browser.find_by_css('h2').text
hemi_name = hemi_name.replace(' Enhanced','')
dictionary={"title":hemi_name,"img_url":img_url}
hemi_dict.append(dictionary)
browser.back()
time.sleep(1)

In [31]:
hemi_dict

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]